*{
    box-sizing: border-box;
}
.table {
    max-width: 50rem;
    min-height: 50rem;
    margin: auto;
    border: solid red 2px;

    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
}

.table__drop {
    min-width: 5rem;
    max-height: 10rem;
    margin: 0;

    border: solid green 2px;
}

.over {
    border: goldenrod solid 2px
}

.hand__item {

    max-width: 5rem;
    height: 8rem;
    margin: 1rem auto ;

    background: rgb(0, 180, 36);
}